<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="main">
        <header></header>
        <section id="lewy">
            <a href="/Bronie">wróć</a>
        </section>
        <section id="prawy">
            <article>
                <b>Czy na pewno chcesz usunąć broń "{{ id_broni.Nazwa }}"?</b><br>
                <form method="post">
                    {% csrf_token %}
                    <br><button type="submit">Usuń broń</button>
                </form>
            </article>
        </section>
        <footer>Escape from Tarkov app</footer>
    </div>
</body>
</html>